

<p>
  <strong>Phrase:</strong>
  <%= @keyword.phrase %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @keyword.priority %>
</p>



<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
