<div id="page1">
	What kind of tweets you are interested in?
	1. having specific combination of words or phrases
	2. having a hashtag
	3. Mentioning you
</div>
<div id="page-hashtag maker">
	Plese enter the hashtag you want to follow
</div>
