/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen.min
 *= require jquery.datetimepicker

 *= require smart_wizard_vertical
 *= require colorPicker
 *= require social-buttons
 *= require font-awesome
 */
 
.actions-cell
{
	white-space: nowrap;
}

.filter-form input
{
	margin-right:10%;
	
}

.tweet-message-div
{
   visibility: hidden;
   height:0px;
   opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  
}

.tweet-message-td:hover
{
	cursor: pointer;
}
.tweet-message-td:hover > .tweet-message-div
{
  
   height:auto;
   visibility: visible;
   opacity: 1;
   
   
}
