.st-fbpost {
		border: 1px solid #EEEEEE;
		padding: 10px;
	}

	.st-fb-content {
		color: rgb(41, 47, 51);
		font-family: Georgia, "Times New Roman", Palatino, serif;
		font-size: 18px;
		font-weight: 400;
	}

	.st-fb-time {
		color: rgb(112, 112, 112);
		font-family: "Helvetica Neue", Arial, sans-serif;
		font-size: 12px;
		border-bottom: 1px solid rgb(232, 232, 232);
		font-weight: 400;
		padding-bottom: 4px;
	}


